{% extends 'base.html.twig' %}

{% block title %}MyBlog | Categories{% endblock %}

{% block body %}
	{% if categories %}
		<section>
			<header>
				<h1 class="text-center font-bold font-mono text-2xl mt-10 mb-0">Categories</h1>
			</header>
			<div class="flex flex-col justify-center items-center mt-2">
				<table class="shadow-lg bg-white">
					<thead>
						<tr>
							<th class="bg-blue-100 border text-left px-8 py-4">ID</th>
							<th class="bg-blue-100 border text-left px-8 py-4">Titre</th>
							<th class="bg-blue-100 border text-left px-8 py-4">Publié</th>
							<th class="bg-blue-100 border text-left px-8 py-4">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for categorie in categories %}
							<tr>
								<td class="border px-8 py-4">{{categorie.id}}</td>
								<td class="border px-8 py-4">{{categorie.titre}}</td>
								<td class="border px-8 py-4">
									{% if categorie.visible is same as(true) %}
										oui
									{% else %}
										non
									{% endif %}
								</td>
								<td class="border px-8 py-4">
									<a href="{{path('categories_edit', {id: categorie.id})}}" class="text-yellow-700 font-semibold mx-1">Edit</a>
									<a href="{{path('categories_add', {id: categorie.id})}}" class="confirm text-red-600 font-semibold mx-1">Delete</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</section>
	{% endif %}

	<div class="flex flex-col justify-center items-center mt-2">
		<a href="{{path('categories_add')}}" class="text-center text-2xl font-bold bg-green-500 text-white py-2 px-4 m-4 rounded-2xl hover:bg-green-600 hover:text-gray-50">
			<i class="fas fa-plus"></i> New Categorie
		</a>
	</div>

{% endblock %}


{% block javascripts %}
	<script type="text/javascript">
		{# Comfirm Delete #}
        function confirmClick(e) {
        const message = 'Are you sure that you want to delete this category?';
        action = confirm(message) ? true : e.preventDefault();
        }
        const confirmLinks = document.getElementsByClassName('confirm');
        for (let i = 0, length = confirmLinks.length; i < length; i++) {
        confirmLinks[i].addEventListener('click', confirmClick);
        }
	</script>
{% endblock %}
