{% extends 'base.html.twig' %}

{% block title %}
	Articles
{% endblock %}

{% block body %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<section>
		<header>
			<h1 class="text-center font-bold font-mono text-2xl mt-10">Articles</h1>
		</header>
		{% if articles %}
			<div class="flex flex-col justify-center items-center mt-2">
				<table class="shadow-lg bg-white">
					<thead>
						<tr>
							<th class="bg-blue-100 border text-left px-8 py-4">ID</th>
							<th class="bg-blue-100 border text-left px-8 py-4">Titre</th>
							<th class="bg-blue-100 border text-left px-8 py-4">Publié</th>
							<th class="bg-blue-100 border text-left px-8 py-4">Auteur</th>
							<th class="bg-blue-100 border text-left px-8 py-4">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for article in articles %}
							<tr>
								<td class="border px-8 py-4">{{article.id}}</td>
								<td class="border px-8 py-4">{{article.titre}}</td>
								<td class="border px-8 py-4">
									{% if article.visible is same as(true) %}
										oui
									{% else %}
										non
									{% endif %}
								</td>
								<td class="border px-8 py-4">{{article.auteur}}</td>
								<td class="border px-8 py-4">
									<a href="{{path('articles_show', {id: article.id})}}" class="text-blue-600 font-semibold mx-1">Show</a>
									<a href="{{path('articles_edit', {id: article.id})}}" class="text-yellow-700 font-semibold mx-1">Edit</a>
									<a href="{{path('articles_delete', {id: article.id})}}" class="confirm text-red-600 font-semibold mx-1">Delete</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
		<div class="flex flex-col justify-center items-center mt-2">
			<a href="{{path('articles_add')}}" class="text-center text-2xl font-bold bg-green-500 text-white py-2 px-4 m-4 rounded-2xl hover:bg-green-600 hover:text-gray-50"><i class="fas fa-plus"></i> New Article</a>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		{# Comfirm Delete #}
		function confirmClick(e) {
		const message = 'Are you sure that you want to delete this article?';
		action = confirm(message) ? true : e.preventDefault();
		}
		const confirmLinks = document.getElementsByClassName('confirm');
		for (let i = 0, length = confirmLinks.length; i <script length; i++) {
		confirmLinks[i].addEventListener('click', confirmClick);
		}
	</script>
{% endblock %}

